---
export const prerender = false;
import { countries } from "../../countries.json";
import Logo from "../../assets/logo-opactic.png";
import { Image } from "astro:assets";
---

<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <title>OPACTIC - Formulario de registro para Feria TEC 2025</title>
  </head>
  <style>
    body {
      zoom: 0.9;
    }
    p,
    form {
      max-width: 65ch;
    }
    img {
      display: block;
    }
    .flex {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      align-items: center;
    }
    .flex > * {
      flex: 1 1 300px;
    }
    span.danger {
      color: red;
    }
    .logo-link {
      display: inline-block;
      margin-bottom: 1rem;
      aspect-ratio: 1 / 1;
    }
    .logo-image {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .video {
      aspect-ratio: 9 / 16;
      height: 100%;
    }
    .video video {
      height: 100%;
      border-radius: 2rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  </style>
  <body>
    <header class="container">
      <a
        href="//opactic.org"
        target="_blank"
        rel="noopener noreferrer"
        class="logo-link"
      >
        <Image
          src={Logo}
          alt="OPACTIC Logo"
          width="200"
          height="200"
          class="logo-image"
        />
      </a>
      <h2>Formulario de registro para Feria TEC 2025</h2>
      <p>
        Por favor, complete el siguiente formulario para registrarse en la Feria
        TEC 2025 que se dará a cabo este sábado 20 de septiembre de 2025 desde
        las 10am en el <a
          href="https://maps.app.goo.gl/p7tynFGyuSCjXVD28"
          target="_blank"
          rel="noopener noreferrer">SOHO City Center</a
        > de la ciudad de Panamá.
      </p>
    </header>
    <main class="container">
      <div class="flex">
        <form>
          <fieldset>
            <label for="name">Nombre: <span class="danger">*</span></label>
            <input type="text" id="name" name="name" required autofocus />
            <label for="email"
              >Correo electrónico: <span class="danger">*</span></label
            >
            <input type="email" id="email" name="email" required />
            <label for="phone">Teléfono: <span class="danger">*</span></label>
            <input type="tel" id="phone" name="phone" required />
            <label for="country">País: <span class="danger">*</span></label>
            <select id="country" name="country" required>
              <option value="">Seleccione un país</option>
              {
                countries.map((country) => (
                  <option
                    value={country.name}
                    selected={country.name === "Panama"}
                  >
                    {country.es_name}
                  </option>
                ))
              }
            </select>
            <label
              >¿Es miembro de la comunidad OPACTIC? <span class="danger">*</span
              ></label
            >
            <div>
              <label>
                <input type="radio" name="opactic_member" value="sí" required />
                Sí
              </label>
              <label>
                <input type="radio" name="opactic_member" value="no" required />
                No
              </label>
            </div>
            <label
              >¿Se encuentra actualmente laborando? <span class="danger">*</span
              ></label
            >
            <div>
              <label>
                <input type="radio" name="working" value="sí" required />
                Sí
              </label>
              <label>
                <input type="radio" name="working" value="no" required />
                No
              </label>
            </div>
            <label>¿Es estudiante? <span class="danger">*</span></label>
            <div>
              <label>
                <input type="radio" name="student" value="sí" required />
                Sí
              </label>
              <label>
                <input type="radio" name="student" value="no" required />
                No
              </label>
            </div>
            <label for="company">Nombre de la empresa:</label>
            <input type="text" id="company" name="company" />
            <label for="position">Cargo:</label>
            <input type="text" id="position" name="position" />
            <label>
              <input type="checkbox" name="consent" value="true" required />
              Acepto que mis datos personales sean utilizados por OPACTIC para contactarme
              sobre noticias de la comunidad, eventos de tecnología y contenido relevante.
              <span class="danger">*</span>
            </label>
          </fieldset>
          <p>Los campos con <span class="danger">*</span> son obligatorios.</p>
          <button type="submit">Registrarse</button>
        </form>
        <div class="video">
          <video src="/opactic-in-action.mp4" muted autoplay loop></video>
        </div>
      </div>
    </main>
    <dialog id="thankYouDialog">
      <article>
        <header>
          <button id="closeThankYouDialog" aria-label="Close" rel="prev"
          ></button>
          <p>
            <strong>🗓️ Gracias por registrarte!</strong>
          </p>
        </header>
        <p>
          Estamos muy emocionados de contar con tu participación en la Feria TEC
          2025. Te esperamos este sábado 20 de septiembre de 2025 desde las 10am
          en el SOHO City Center de la ciudad de Panamá.
        </p>
        <ul>
          <li>Fecha: Sábado, 20 de septiembre de 2025</li>
          <li>Hora: desde las 10:00am</li>
        </ul>
      </article>
    </dialog>
  </body>
</html>
<script>
  import { actions } from "astro:actions";
  const form = document.querySelector("form");
  if (!form) throw new Error("Form not found");
  form.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const { error } = await actions.send(formData);
    if (error) {
      alert("Error al enviar el formulario");
    } else {
      const dialog = document.getElementById(
        "thankYouDialog"
      ) as HTMLDialogElement;
      if (!dialog) throw new Error("Dialog not found");
      const closeButton = document.getElementById("closeThankYouDialog");
      if (!closeButton) throw new Error("Close button not found");
      closeButton.addEventListener("click", () => {
        dialog.close();
      });
      dialog.showModal();
      form.reset();
    }
  });
</script>
