---
export const prerender = false;
import { countries } from "../../countries.json";
import Logo from "../../assets/logo-opactic.png";
import { Image } from "astro:assets";
---

<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <title>OPACTIC - Formulario de registro para Feria TEC 2025</title>
  </head>
  <style>
    body {
      zoom: 0.9;
    }
    p,
    form {
      max-width: 65ch;
    }
    span.danger {
      color: red;
    }
  </style>
  <body class="container">
    <header>
      <Image src={Logo} alt="OPACTIC Logo" width="200" height="60" />
      <h2>Formulario de registro para Feria TEC 2025</h2>
      <p>
        Por favor, complete el siguiente formulario para registrarse en la Feria
        TEC 2025 que se dará a cabo este sábado 20 de septiembre desde las 10am
        en el SOHO City Center de la ciudad de Panamá.
      </p>
    </header>
    <main>
      <form action="#0">
        <fieldset>
          <label for="name">Nombre: <span class="danger">*</span></label>
          <input type="text" id="name" name="name" required />
          <label for="email"
            >Correo electrónico: <span class="danger">*</span></label
          >
          <input type="email" id="email" name="email" required />
          <label for="phone">Teléfono: <span class="danger">*</span></label>
          <input type="tel" id="phone" name="phone" required />
          <label for="country">País: <span class="danger">*</span></label>
          <select id="country" name="country" required>
            <option value="">Seleccione un país</option>
            {
              countries.map((country) => (
                <option
                  value={country.name}
                  selected={country.name === "Panama"}
                >
                  {country.es_name}
                </option>
              ))
            }
          </select>
          <label for="company">Nombre de la empresa:</label>
          <input type="text" id="company" name="company" />
          <label for="position">Cargo:</label>
          <input type="text" id="position" name="position" />
          <label>
            <input type="checkbox" name="consent" required />
            Acepto que mis datos personales sean utilizados por OPACTIC para contactarme
            sobre noticias de la comunidad, eventos de tecnología y contenido relevante.
            <span class="danger">*</span>
          </label>
        </fieldset>

        <button type="submit">Registrarse</button>
      </form>
      <p>Los campos con <span class="danger">*</span> son obligatorios.</p>
    </main>
  </body>
</html>
